.divInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    background-image: url('https://images.pexels.com/photos/5673488/pexels-photo-5673488.jpeg?auto=compress&cs=tinysrgb&w=1920');
    background-size: cover;
    background-attachment: fixed; /* -- Esta propiedad crea el efecto parallax -- */
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    left: 0;
    margin-bottom: 60px;
}

.divInformation::before{
    content: '';
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    z-index: 0;
}

.divInformation p {
    color: var(--color-gray); 
    margin: 0;
}

.divInformation h3{
    font-size: small;
    padding: 0;
    margin: 10px;
}

.divContenido {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    padding-top: 2rem;
}

.divInformation h1{
    font-weight: 700;
    position: relative;
    z-index: 1;
    color: var(--color-gray);
}


.divValues{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.values path{
    color: var(--primary-color);
}

.values{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 130px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 0%, 0.3);
    font-family: var(--secondary-font);
    font-size: small;    
    border: solid 1px var(--primary-color);
}

.values p{
    text-align: center;
    width: 90%;
    color: var( --color-gray);
}

.values h3{
    color: var(--primary-color);
    margin-top: 10px;
}


/* TABLET */
@media(min-width: 768px){   
    .divContenido{
        margin-top: 10px;
    }
    
    .divValues{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        gap:10px;
        margin-top: 100px;
    }

    .divInformation h3{
        margin: 20px;
        font-size: medium;
    }
    
    .values{
        width: 200px;
        height: 250px;
        justify-content: center;
    }
    
    .values img{
        width: 200px;
    }

}


/* DESKTOP */
@media(min-width: 992px){ 
    .divValues{
        margin-top: 100px;
    }
    
    .values{
        margin: 10px;
        width: 280px; 
        height: 240px;       
    }

    .divInformation p {
        color: var(--color-gray); 
        font-size: medium;
    }

}


/* DESKTOP LARGE */
@media(min-width: 1200px){  

    .divInformation p{
        font-size: large;
    }

    .divInformation h3{
        font-size: large;
    }

    

    .divValues{
        margin-top: 80px;
    }
    
    .values{
        margin: 10px;
        width: 300px; 
        height: 250px;       
    }
}


