.container {
    width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font);
}

.error {
  width: 90vw;
  color: red;
  font-weight: bold;
}

.review {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.author {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stars {
  margin-bottom: 10px;
}

.star {
  font-size: 24px;
  color: var(--secondary-color);
}

.star.rated {
  color: var(--primary-color);
}

.reviewText {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-silver);
}