.containerMetrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 100%;
}

.containerMetrics h2 {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    letter-spacing: 0.00938em;
}

.tablaGeneral {
    width: 100%;
    text-align: center;
}

th.tablaIndividual {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    font-weight: bold;
    text-align: left;
}

td.tablaIndividual {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-weight: 400;
    text-align: left;
}

.tablaIndividual {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    padding: 7px;
}

.detailButton {
    color: var(--primary-color);
    padding-right: 2px;
    background-color: transparent;
    border: 0px solid transparent;
}

.detailButton:active {
    transform: scale(0.95);
}