.promII {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-family: var(--secondary-font);
}

.line {
    display: block;
    height: 2px;
    width: 250px;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
}

.promII p {
    color: var(--color-silver);
    font-family: var(--secondary-font);
}

.promII button{
    margin-top: 2rem;
}

.promII button:hover{
    background-color: var(--color-white);
    color: var(--primary-color);
}