.headerCont {
    background-color: var(--secondary-color);
}

.slogan {
    margin-top: 3rem;
    text-align: left;
    font-size: 1.4rem;
}

.slogan h1 {
    color: var(--color-white);
    font-family: var(--primary-font);
    margin-bottom: 0.1rem;
    font-weight: 400;
    padding: 6rem 1.5rem 0.5rem;
}

.slogan p {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem 4rem;
}

@media (min-width:992px) {
    .slogan {
        display: flex;
        padding-left: 9rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }
}