.mobileHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    font-size: 1.5rem;
}

.titleNB {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

.mobileMenuCont {
    position: fixed;
    left: 100%;
    top: 1;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
    overflow: hidden;
    transition: left 0.3s;
}

.mobileMenuContActive {
    position: fixed;
    left: 0;
    top: 1;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
    overflow: hidden;
    transition: left 0.3s;
}

.mobileMenuCont li {
    list-style: none;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.mobileMenuContActive li {
    list-style: none;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.mobileMenuCont a {
    text-decoration: none;
}

.mobileMenuContActive a {
    text-decoration: none;
}

.headerDesk {
    display: none;
}

/* Tablet */
@media (min-width:768px) {
}

/* Desktop */
@media (min-width:992px) {
    .mobileHeader {
        display: none;
    }

    .headerDesk {
        display: flex;
        padding: 32px 80px;
        justify-content: space-between;
        align-items: center;
    }

    .deskMenu {

    }
}

/* Large-desktop */
@media (min-width:1200px) {}
