.createContainer{
    width: fit-content;
}

.containerInputs{
    display: flex;
    gap: 1rem;
}
.titleForm{
    padding: 1rem 1rem 0;
    margin-bottom: 0;
}

.containerButtonSave{
    margin-top: 1.5rem;
}