.containerAppBar .appBar{
    background-color: var(--secondary-color);
    height: 70px;
    flex-direction: row;
}

.titleAppBar{
    margin-bottom: 0;
}
.appBar .MuiToolbar-root{
    justify-content: space-between;
    width: 100%;
}