* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --primary-color: #F4AE3F;
  --secondary-color: #172432;
  --color-ligthGrey: #FAFAFA;
  --color-shadow: #F2F2F2;
  --color-silver: #767E86;
  --color-black : #000000;
  --color-white : #FFFFFF;
  --color-error: #cf2424;
}

a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 1rem;
}

.main{
  padding-top: 70px;
}

.container{
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

input,
select,
textarea{
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: var(--secondary-font);
    width: 100%;
}

input:focus,
select:focus,
textarea:focus{
  outline: none;
}

.btn{
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--primary-font);
  border: none;
}

.btnPrimary{
  font-weight: 600;
  padding: 1rem 1.5rem 1rem 1.5rem;
  letter-spacing: 2px;
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  font-size: 0.875rem;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.btnPrimary:hover{
  transform: scale(1.06);
}

.modalExpert>hr{
  margin: 3rem 0 1.5rem;
}
.modalExpert .sectionExpert{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.modalExpert .sectionExpert>span{
  font-size: 1rem;
}
.modalExpert .sectionExpert .btnPrimary{
  width: 180px;
  line-height: 40px;
  font-size: 0.8rem;
  padding: 0;
}
.modalExpert .sectionExpert .btnPrimary:hover{
  transform: initial;
}

.swal2-show{
  font-family: var(--secondary-font)
}


/*LARGE DESKTOP*/
@media (min-width: 1200px){
    .container{
      width: 80vw;
    }
    .modalExpert .sectionExpert{
      flex-direction: row;
    }
    .modalExpert .sectionExpert .btnPrimary{
      width: 230px;
    }
}




