/* Mobile First */
.container {
    width: 60vw;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}

.faqSection {
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    padding: 15px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.faqSection h3 {
    font-size: 22px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    cursor: pointer;
    padding: 10px;
}

.faqSection ul {
    list-style: none;
    margin: 10px 0 0 0;
}

.faqSection li {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 20px;
}

.faqSection li p {
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--color-silver);
    margin-top: 10px;
    letter-spacing: 0.75px;
    margin-left: 10px;
}

.faqSection:hover {
    border-color: var(--primary-color);
    transform: scale(1.02);
}

.icon {
    float: right;
    font-size: 24px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    color: var(--primary-color);
}

.iconTwo {
    color: var(--primary-color);
}


/* Media Query para Tablet (768px) */
@media (min-width: 768px) {}

/* Media Query para Desktop (992px) */
@media (min-width: 992px) {}

/* Media Query para Large Desktop (1200px) */
@media (min-width: 1200px) {}