.containerItem {
    box-shadow: 1px 1px 5px 2px var(--color-shadow);
    border-radius: 5px;
}
.headeritem{
    position: relative;
    height: 200px;
    overflow: hidden;
}

.headeritem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.favoriteIcon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--color-white);
    cursor: pointer;
    background-color: initial;
}
.favoriteActive{
    color: var(--primary-color);
}

.bodyItem{
    padding: 1.5rem 1rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

.nameItem{
    font-family: var(--primary-font);
    font-size: 1rem;
    margin-bottom: 0;
}

.btnItem{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.btnItem:hover{
    background-color: var(--secondary-color);
}

.btnItem svg{
    fill: var(--color-white);
}


/*Tablet*/
@media (min-width: 768px){
    .headeritem{
        height: 180px;
    }
}

/*Large Desktop*/
@media (min-width: 1200px){
    .headeritem{
        height: 230px;
    }
}