
.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imgProfile {
    cursor: pointer;
    width: 2.5rem;
    border-radius: 99px;
    transition: background-color 0.2s;
}

.menuInfo {
    display: none;
    position: absolute;
    right: 0px;
    top: 3.5rem;
    border-radius: 5px; 
    background-color: var(--primary-color) ;
    padding: 1rem;
    padding-bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    min-width: 250px;
    border-bottom: 1px solid var(--primary-color);
}

.menuInfo p {
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: 1rem;
    margin: 0;
}

.menuInfo a {
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: 1rem;
}

.menuInfo ul li {
    padding-bottom: 1.5rem;
}

.menuInfoOpen {
    display: block;
}

@media (min-width: 768px){

}
