.promIIICont {
    display: flex;
    justify-content: space-between;
}

.textPromIII h3 {
    text-align: justify;
    line-height: 1.4;
    max-width: 28.125rem;
    font-family: var(--primary-font);
}

.line {
    margin-top: 20px;
    height: 150px;
    border-left: 1px solid var(--primary-color);
}

.rightPromIII {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: center;
}

.rightPromIII li {
    line-height: 2;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--color-silver);
}

.icon {
    margin-right: 2rem;
    color: var(--primary-color);
    font-size: 1.3rem;
}

.rightPromIII button {
    margin-top: 2rem;
}

.rightPromIII button:hover {
    background-color: var(--color-white);
    color: var(--primary-color);
}