.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.containerCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: 600;
}

.activePage {
  color: var(--primary-color); 
}

.disabled {
  cursor: not-allowed;
}


