.mySlider{
    height: 25rem;
    margin-top: -70px;
}
.mySlider .swiper-slide::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.mySlider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySlider .swiper-pagination{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    z-index: 1;
}


.mySlider .swiper-pagination-bullet{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;
}

.mySlider .swiper-pagination-bullet-active{
    background-color: var(--primary-color);
}

.titleSlider{
    position: absolute;
    top: 35%;
    left: 1.5rem;
    z-index: 1;
    color: var(--color-white);
    width: 80%;
}

.titleSlider h1{
    text-transform: uppercase;
    font-family: var(--primary-font);
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.titleSlider p{
    font-family: var(--secondary-font);
    font-size: 0.8rem;
}

.titleSlider .btnDestinations{
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.8rem;
    color: var(--color-white);
    font-weight: 700;
}
@media (min-width: 992px){
    .mySlider{
        height: 100vh;
    }
    .mySlider .swiper-pagination-bullet{
        width: 0.7rem;
        height: 0.7rem;
    }
    .mySlider .swiper-pagination{
        right: 5%;
    }
    .titleSlider{
        left: 5%;
        top: 38%;
    }
    .titleSlider h1{
        font-size: 2.5rem;
    }
    .titleSlider p{
        font-size: 1.1rem;
    }
    .titleSlider .btnDestinations{
        padding: 1rem 1.5rem;
        margin-top: 1.5rem;
        font-size: 1rem;
        transition: .2s all;
    }
    .titleSlider .btnDestinations:hover{
        color: var(--secondary-color);
    }
}

@media (min-width: 1200px){
    .mySlider .swiper-pagination{
        right: 10%;
    }
    .titleSlider{
        left: 10%;
    }
    .titleSlider h1{
        font-size: 3rem;
    }
}